@namespace Blazr.App.UI
@typeparam TRecord where TRecord : class, new()
@typeparam TEntityService where TEntityService : class, IEntityService
@inherits UIWrapperBase

@code {
    protected string FormTitle => $"{this.UIEntityService.SingleDisplayName} Viewer";

    protected override RenderFragment TemplatedContent => (__builder) =>
    {
        <PageTitle>@this.FormTitle</PageTitle>
                <div class="d-flex flex-row mb-4 pt-1 pb-2 border-bottom">
            <div class="flex-fill justify-content-start">
                <span class="h3">@this.FormTitle</span>
            </div>
            <div class="justify-content-end">
                @this.HeaderRightContent
            </div>
        </div>
        
            @this.Content
            <div class="row">
                <div class="col-12 text-end">
                    <UIButton ButtonType=UIButtonType.Exit ClickEvent=this.OnExit>Exit</UIButton>
                </div>
            </div>
    };
}
