@namespace Blazr.App.UI
@inherits UIPagedListFormBase<WeatherForecast,WeatherForecastEntityService>

<BlazrSortedGridColumn TGridItem="WeatherForecast" SortField="Date" IsNoWrap=true Title="Date">@context.Date.AsGlobalDate()</BlazrSortedGridColumn>
<BlazrSortedGridColumn TGridItem="WeatherForecast" SortField="TemperatureC" IsNoWrap=true class="text-end pe-2" Title="Temperature">
    @(context.TemperatureC)@((MarkupString)"&deg;C") / @(context.AsTemperatureF())@((MarkupString)"&deg;F")
</BlazrSortedGridColumn>
<BlazrSortedGridColumn TGridItem="WeatherForecast" IsMaxColumn=true SortField="Summary" Title="Summary">@context.Summary</BlazrSortedGridColumn>
<BlazrGridColumn TGridItem="WeatherForecast" Title="Actions" IsNoWrap=true Class="text-end">
    <UIButtonGroup>
        <button class="btn btn-sm btn-secondary" @onclick="() => OnViewAsync(context)">View</button>
        <button class="btn btn-sm btn-primary" @onclick="() => OnEditAsync(context)">Edit</button>
    </UIButtonGroup>
</BlazrGridColumn>

